body
{
    color: deeppink;
    font-style: normal;
    text-align: center;
    font-style: oblique;
}

#cabecera
{
    background: blueviolet;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.5);
    color: deepskyblue;
    font-weight: bold;
    margin: 0;
    padding: 0,Sem;
}
#cabecera #tagline
{
    padding: lem 0,0,0;
    font-weight: normal;
    font-size: 0,8em;
}
#container
{
    width: 70%;
    padding: lem;
    text-align: left;
    border: 1px solid #dddddd;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
}